header {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    background-color: #fff;
    min-height: 97px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 0 6px #00000029;
    .dropdown {
        margin-left: 30px;
        .nav-link {
            cursor: pointer;
            color: $black;
            padding: 0!important;
        }
    }
    .nav-item {
        margin-left: 30px;
        .nav-link {
            cursor: pointer;
            color: $black;
            padding: 0!important;
            font: normal normal 400 16px/25px Poppins;
            @media (max-width: 1200px) {
                font: normal normal 400 14px/25px Poppins;
            }
        }
        &:hover,
        &.active {
            position: relative;
            .nav-link:after {
                content: '';
                width: 40px;
                height: 4px;
                border-radius: 2px;
                background-color: $base-blue;
                position: absolute;
                bottom: -4px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        @media (max-width: 1200px) {
            margin-left: 20px;
        }
        @media (max-width: 992px) {
            height: 40px;
            display: flex;
            align-items: center;
        }
    }
    .navbar-toggler {
        @media (max-width: 992px) {
            position: absolute;
            right: 0;
            top: 20px;
        }
    }
    .dropdown-menu {
        top: 58px;
    }
}
