@font-face {
     font-family: 'Muli';
    src: url("../../fonts/Muli.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
     font-family: 'Muli-Bold';
    src: url("../../fonts/Muli.ttf");
}
@font-face {
     font-family: 'Muli-Bold';
    src: url("../../fonts/Muli.ttf");
    font-weight: 700;
    font-style: normal;
}
