

@media screen and (min-width: 1200px) {
  .container-1640 {
    max-width: 1740px;
    padding: 0 50px;

  }
  .container-1520 {
    max-width: 1250px;
  }
}

@media screen and (min-width: 900px) {

}
@media screen and (max-width: 1200px) {

}



@media screen and (max-width: 992px) {
 
}


@media screen and (max-width: 780px) {

}


@media screen and (max-width: 600px) {
 
}
