@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(../secondary/fonts.css);
/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.tk-checkbox .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer; }
  .tk-checkbox .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 11px;
    background-color: aqua;
    height: 12px; }
.tk-checkbox .form-group label {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #777777; }
  .tk-checkbox .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: absolute;
    left: 0;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 16px; }

a {
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

button:focus {
  outline: none; }

.flex-1 {
  flex: 1; }

.w-40 {
  width: 40%; }
  @media (max-width: 1200px) {
    .w-40 {
      width: 70%; } }
  @media (max-width: 768px) {
    .w-40 {
      width: 100%; } }

.w-30 {
  width: 30%; }
  @media (max-width: 1200px) {
    .w-30 {
      width: 70%; } }
  @media (max-width: 768px) {
    .w-30 {
      width: 100%; } }

.w-203 {
  width: 203px; }

.w-146 {
  width: 146px; }

.h-40 {
  height: 40px !important; }

.mw-214 {
  max-width: 214px; }

.color-base {
  color: #000000; }

.color-yellow {
  color: #fbca9a !important; }

.color-light-blue {
  color: #8BB8C0 !important; }

.color-red {
  color: #FF0000 !important; }

.color-dark-red {
  color: #8E487B; }

.fs-10 {
  font-size: 10px; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px !important; }

.fs-24 {
  font-size: 24px; }

.br-10 {
  border-radius: 10px; }

.yellow-hr {
  background-color: #fbca9a;
  height: 4px; }

.blue-btn {
  min-width: 140px;
  height: 45px;
  background: #8BB8C0 0 0 no-repeat padding-box;
  border-radius: 23px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: all 0.3s;
  cursor: pointer; }
  .blue-btn:hover {
    background-color: #fbca9a;
    color: #000000 !important; }

.yellow-btn, .yellow-btn-bordered {
  min-width: 140px;
  height: 45px;
  background: #fbca9a 0 0 no-repeat padding-box;
  border-radius: 23px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: all 0.3s;
  cursor: pointer;
  font: normal normal 500 16px/25px Poppins;
  color: #282E3B;
  white-space: nowrap; }
  .yellow-btn:hover, .yellow-btn-bordered:hover {
    background-color: #8BB8C0;
    color: #FFFFFF !important; }

.yellow-btn-bordered {
  cursor: pointer;
  border: 1px solid #fbca9a;
  background-color: #FFFFFF;
  border-radius: 23px; }
  .yellow-btn-bordered:hover {
    border: 1px solid #8BB8C0;
    background-color: #FFFFFF;
    color: #000000 !important; }

.owl-dots {
  text-align: center; }
  .owl-dots .owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127, 127, 127, 0.5) !important;
    margin-left: 3px;
    margin-right: 3px; }
    .owl-dots .owl-dot.active {
      background: #8BB8C0 !important; }

.shopping-card {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 17px #E8F1F3;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  height: 500px;
  margin: 0 6px 20px;
  overflow: hidden;
  flex: 0 0 32%; }
  .shopping-card .shopping-card_img img {
    width: 100%;
    height: 307px;
    border-radius: 10px; }
  .shopping-card .title {
    font: normal normal 600 18px/27px Poppins;
    color: #000000; }
  .shopping-card .info-text {
    font: normal normal 400 16px/25px Poppins;
    color: #FBCA9A; }
  .shopping-card .price {
    font: normal normal 600 25px/38px Poppins;
    color: #000000; }
  @media (max-width: 1470px) {
    .shopping-card {
      margin: 0 6px 10px;
      flex: 0 0 49%; } }
  @media (max-width: 1200px) {
    .shopping-card {
      flex: 0 0 45%; } }
  @media (max-width: 992px) {
    .shopping-card {
      flex: 0 0 100%; } }

.qtySelector {
  width: 107px;
  height: 40px;
  margin: 10px auto 0;
  display: flex;
  justify-content: center; }
  .qtySelector .fa {
    height: 100%;
    width: 25px;
    float: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
    .qtySelector .fa.clicked {
      font-size: 12px;
      padding: 12px 5px; }
  .qtySelector .fa-minus,
  .qtySelector .fa-plus {
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    font-size: 9px; }
  .qtySelector .qtyValue {
    border: none;
    padding: 5px;
    width: 25px;
    height: 100%;
    float: left;
    text-align: center;
    background: transparent; }

.banner-upload {
  position: relative;
  max-width: 1920px;
  margin: 50px auto; }
  .banner-upload .banner-edit {
    width: 100%;
    height: 377px;
    position: relative; }
    .banner-upload .banner-edit input {
      display: none; }
      .banner-upload .banner-edit input + label {
        margin-bottom: 0;
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out; }
  .banner-upload .banner-preview {
    width: 100%;
    height: 377px;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
    left: 0; }
    .banner-upload .banner-preview > div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

.banner-edit.show {
  background-color: #0000006e; }
  .banner-edit.show #imageUpload-label {
    display: block !important;
    position: relative !important; }

.form-control {
  border: 0;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 6px #0000001C;
  border-radius: 5px; }

.border-bottom {
  border-bottom: 1px solid #8bb8c0 !important; }

.btn-blue-text {
  font: normal normal 400 20px/30px Poppins;
  color: #8BB8C0; }

.form-check-label {
  font: normal normal 500 16px/25px Poppins;
  color: #373737; }

header {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  background-color: #fff;
  min-height: 97px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 0 6px #00000029; }
  header .dropdown {
    margin-left: 30px; }
    header .dropdown .nav-link {
      cursor: pointer;
      color: #000000;
      padding: 0 !important; }
  header .nav-item {
    margin-left: 30px; }
    header .nav-item .nav-link {
      cursor: pointer;
      color: #000000;
      padding: 0 !important;
      font: normal normal 400 16px/25px Poppins; }
      @media (max-width: 1200px) {
        header .nav-item .nav-link {
          font: normal normal 400 14px/25px Poppins; } }
    header .nav-item:hover, header .nav-item.active {
      position: relative; }
      header .nav-item:hover .nav-link:after, header .nav-item.active .nav-link:after {
        content: '';
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background-color: #8BB8C0;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: 0 auto; }
    @media (max-width: 1200px) {
      header .nav-item {
        margin-left: 20px; } }
    @media (max-width: 992px) {
      header .nav-item {
        height: 40px;
        display: flex;
        align-items: center; } }
  @media (max-width: 992px) {
    header .navbar-toggler {
      position: absolute;
      right: 0;
      top: 20px; } }
  header .dropdown-menu {
    top: 58px; }

footer {
  background-color: #8BB8C0; }
  footer .form-control {
    border-radius: 20px; }
  footer h3 {
    font: normal normal 600 18px/25px Poppins;
    color: #000000;
    white-space: nowrap; }
  footer ul li a {
    line-height: 16px;
    white-space: nowrap;
    font: normal normal 400 16px/27px Poppins;
    color: #FFFFFF; }
  footer .social-icon a {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; }

.checkout-header {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  max-width: 100%; }

.checkout-accordion {
  border: 0;
  border-radius: 10px;
  overflow: hidden; }
  .checkout-accordion .card {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #D1D6E9 !important; }
    .checkout-accordion .card:last-child {
      border-bottom: 0 !important; }
  .checkout-accordion .card-header {
    background-color: transparent;
    border: 0; }
    .checkout-accordion .card-header .btn-link {
      display: flex;
      align-items: center;
      font: normal normal 600 18px/26px Muli;
      letter-spacing: 0px;
      color: #2A2A2A; }
      .checkout-accordion .card-header .btn-link:hover, .checkout-accordion .card-header .btn-link:focus {
        text-decoration: none; }
      .checkout-accordion .card-header .btn-link .step {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font: normal normal 600 18px/26px Muli;
        letter-spacing: 0;
        color: #004C8A;
        background: #FFFFFF 0 0 no-repeat padding-box;
        border: 1px solid #4F99D5;
        margin-right: 30px; }
        .checkout-accordion .card-header .btn-link .step.is-completed {
          background: #4CAE49 0 0 no-repeat padding-box;
          color: #ffffff;
          border: 1px solid #4CAE49; }
  .checkout-accordion .card-body {
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    padding-top: 0; }
    .checkout-accordion .card-body .abs {
      position: absolute;
      right: 40px;
      top: -35px; }
    .checkout-accordion .card-body label {
      font: normal normal 400 16px/24px Muli;
      color: #2A2A2A;
      white-space: nowrap; }
    .checkout-accordion .card-body .form-control {
      background: #FFFFFF 0 0 no-repeat padding-box;
      border: 1px solid #DBDBDB;
      border-radius: 10px; }
    .checkout-accordion .card-body p {
      font: normal normal 400 14px/20px Muli;
      color: #A5A5A5; }
    .checkout-accordion .card-body .info-text {
      font: normal normal 400 14px/20px Muli;
      color: #2A2A2A; }
  .checkout-accordion .add_card_title {
    font: normal normal 400 16px/24px Muli;
    color: #4F99D5; }
  @media (max-width: 991px) {
    .checkout-accordion .w-50 {
      width: 100% !important; } }

.total_price-card {
  padding: 20px 40px;
  border-bottom: 1px solid #D1D6E9 !important; }
  .total_price-card:last-child {
    border-bottom: 0 !important; }
  .total_price-card .info-text {
    width: 25%;
    font: normal normal 600 18px/26px Muli;
    color: #2A2A2A;
    margin-bottom: 8px; }
  .total_price-card .price {
    width: 25%;
    font: normal normal 600 18px/26px Muli;
    color: #FF8400; }
  @media (max-width: 991px) {
    .total_price-card .w-25 {
      width: 100% !important; } }

.my_cart_block {
  width: 368px; }
  .my_cart_block .title {
    font: normal normal 600 18px/26px Muli;
    color: #004C8A; }
  .my_cart_block .product_description {
    font: normal normal 400 14px/20px Muli;
    color: #2A2A2A;
    margin-bottom: 8px; }
  .my_cart_block .product_weight {
    font: normal normal 400 14px/20px Muli;
    color: #A2A2A2; }
  .my_cart_block .product_price {
    font: normal normal 600 16px/24px Muli;
    color: #FF8400; }
  @media (max-width: 991px) {
    .my_cart_block {
      display: none !important; } }

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  max-width: 1920px;
  margin: 0 auto; }

.section1 {
  background-image: url("../../img/Group 1844.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 0;
  align-items: center;
  display: flex; }
  .section1 .title {
    font-weight: 700;
    font-size: 50px;
    line-height: 76px;
    color: #FFFFFF; }
    @media (max-width: 992px) {
      .section1 .title {
        font-size: 40px;
        line-height: 46px; } }
    @media (max-width: 768px) {
      .section1 .title {
        font-size: 30px;
        line-height: 56px; } }
  .section1 .sub-title {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    color: #FFFFFF; }
  .section1 .sub-title-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF; }
  .section1 .yellow-btn, .section1 .yellow-btn-bordered {
    width: 146px;
    height: 45px;
    color: #000000; }
    .section1 .yellow-btn:hover, .section1 .yellow-btn-bordered:hover {
      background-color: #8BB8C0;
      color: #FFFFFF; }

.section-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
  position: relative; }
  .section-title:before {
    content: '';
    width: 50px;
    height: 5px;
    border-radius: 3px;
    background-color: #fbca9a;
    position: absolute;
    margin: 0 auto;
    top: -5px;
    left: 0;
    right: 0; }
  .section-title.left:before {
    margin-left: 0;
    margin-right: auto; }

.card {
  width: 336px;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: none;
  border: 0 !important;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 40px; }
  .card img {
    width: 83px;
    height: 73px;
    margin-bottom: 20px; }
  .card .card-title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #8BB8C0; }
  .card .card-info-text {
    font: normal normal normal 14px/21px Poppins;
    color: #000000;
    margin-bottom: 20px; }
  .card .color-yellow {
    font-size: 16px;
    line-height: 45px;
    transition: all 0.3s; }
  .card.active, .card:hover {
    box-shadow: 0 5px 17px #E8F1F3;
    cursor: pointer; }
    .card.active .color-yellow, .card:hover .color-yellow {
      color: white !important;
      background-color: #8BB8C0;
      border-radius: 23px;
      padding: 0 15px; }

.blue-bg {
  background-image: url("../../img/Path 69.svg");
  min-height: 535px;
  align-items: center;
  display: flex;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .blue-bg {
      background-image: none;
      background-color: #e8f1f3; } }

.image-zoom-effect img {
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out; }
  .image-zoom-effect img:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2); }
  @media (max-width: 768px) {
    .image-zoom-effect img {
      width: 100%; } }

.yellow-bg {
  background-image: url("../../img/Path 18.svg");
  min-height: 535px;
  align-items: center;
  display: flex;
  background-repeat: no-repeat; }
  .yellow-bg h2 {
    font: normal normal 600 36px/55px Poppins;
    color: #000000;
    margin-bottom: 0; }
  .yellow-bg .sub-title {
    font: normal normal 600 20px/30px Poppins; }
  .yellow-bg .sub-title-text {
    font: normal normal 400 14px/20px Poppins; }
  @media (max-width: 992px) {
    .yellow-bg {
      background-image: none;
      background-color: #fffaf5; } }

.how-it-works .card-item {
  height: 381px;
  background-color: transparent;
  max-width: 300px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s;
  justify-content: center;
  margin: 0 10px; }
  .how-it-works .card-item .card {
    width: 100%;
    height: 330px;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #00000029;
    border-radius: 10px;
    border: 0 !important;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    margin-bottom: 0;
    z-index: 1; }
    .how-it-works .card-item .card img {
      width: 83px;
      height: 73px;
      margin-bottom: 20px; }
    .how-it-works .card-item .card .card-title {
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      margin-bottom: 20px; }
    .how-it-works .card-item .card .card-info-text {
      font: normal normal normal 14px/21px Poppins;
      color: #000000;
      margin-bottom: 20px; }
    .how-it-works .card-item .card:hover {
      cursor: pointer; }
  .how-it-works .card-item:hover {
    background-color: #8BB8C0; }
    .how-it-works .card-item:hover .card {
      height: 360px; }
      .how-it-works .card-item:hover .card img {
        zoom: 1.2; }
  @media (max-width: 1200px) {
    .how-it-works .card-item {
      margin: 10px auto; } }

.owl-carousel1 .card-item {
  width: 299px;
  height: 320px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 6px #00000029;
  border-radius: 10px;
  position: relative;
  margin: 0 auto; }
  .owl-carousel1 .card-item .profile-img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 20px;
    bottom: 30%; }
  .owl-carousel1 .card-item:before {
    content: '';
    border-bottom: 1px solid #E8F1F3;
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0; }
  .owl-carousel1 .card-item .name {
    font: normal normal 400 18px/27px Poppins;
    color: #000000; }
  .owl-carousel1 .card-item .profession {
    font: normal normal 400 14px/21px Poppins;
    color: #8BB8C0; }
.owl-carousel1 .only-img {
  max-width: 398px;
  width: 100%;
  height: auto;
  margin: 0 20px; }
  @media (max-width: 1200px) {
    .owl-carousel1 .only-img {
      max-width: 398px;
      width: 100%; } }

.contact-us h2 {
  font: normal normal 700 32px/40px Poppins;
  color: #404040;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .contact-us h2 {
      font-size: 28px; } }
.contact-us label {
  color: #1A1A18;
  font: normal normal 400 18px/25px Poppins; }
.contact-us .form-control {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 6px #0000001C;
  border-radius: 5px; }
.contact-us .yellow-btn, .contact-us .yellow-btn-bordered {
  font: normal normal 500 16px/25px Poppins;
  color: #282E3B; }

.form-section h2 {
  font: normal normal 700 25px/38px Poppins; }
.form-section .gray-link a {
  font: normal normal 400 14px/18px Montserrat;
  letter-spacing: 0;
  color: #A8A8A8; }
.form-section .yellow-btn, .form-section .yellow-btn-bordered {
  width: 203px; }

.aboutUs-card {
  padding: 0 30px;
  width: 30%; }
  .aboutUs-card .title {
    font: normal normal 600 18px/27px Poppins;
    color: #000000; }
  @media (max-width: 768px) {
    .aboutUs-card {
      width: 100%; } }

.section1-aboutUs img {
  margin-top: -130px; }
  @media (max-width: 1200px) {
    .section1-aboutUs img {
      width: 100%;
      margin-top: 0; } }

.accordion-card {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 6px #00000029;
  border-radius: 10px;
  margin-bottom: 20px; }
  .accordion-card .card-header {
    background-color: transparent;
    font: normal normal normal 16px/25px Poppins;
    color: #000000; }
    .accordion-card .card-header button:focus {
      box-shadow: none; }

.how-it-works-bg {
  background-image: url("../../img/Group 1866.png"); }

.section2-how-it-works .card {
  margin: 0 20px 40px; }

.step1 {
  position: relative; }
  .step1:after {
    content: url("../../img/Group 1860.svg");
    position: absolute;
    right: -45%;
    top: 30px;
    z-index: 10; }
    @media (max-width: 1200px) {
      .step1:after {
        content: none; } }

.step2 {
  position: relative; }
  .step2:before {
    content: url("../../img/Group 1859.svg");
    position: absolute;
    left: -45%;
    top: 90px;
    z-index: 10; }
    @media (max-width: 1200px) {
      .step2:before {
        content: none; } }

.course-single-page .border-bottom {
  border-bottom: 1px solid #8BB8C0; }
.course-single-page .section1 {
  background-image: none;
  background-color: #FFFAF5;
  padding: 3% 0; }
  .course-single-page .section1 .title {
    font: normal normal 600 25px/38px Poppins;
    color: #000000; }
  .course-single-page .section1 .blue-link {
    font: normal normal 400 16px/25px Poppins;
    color: #8BB8C0; }
  .course-single-page .section1 .price {
    font: normal normal 500 20px/30px Poppins;
    color: #000000; }
  .course-single-page .section1 p {
    font: normal normal 400 16px/25px Poppins;
    color: #000000; }
  .course-single-page .section1 .yellow-btn, .course-single-page .section1 .yellow-btn-bordered {
    width: max-content;
    font: normal normal 400 16px/25px Poppins;
    color: #000000;
    white-space: nowrap; }
.course-single-page .section2 .bg-light-blue ul a {
  font: normal normal 500 16px/25px Poppins;
  color: #8BB8C0;
  padding: 0 15px; }
.course-single-page .section2 .card {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 6px #00000029;
  border-radius: 10px;
  align-items: flex-start;
  width: 360px;
  height: auto; }
  .course-single-page .section2 .card .title {
    font: normal normal 600 25px/38px Poppins;
    color: #000000; }
  .course-single-page .section2 .card img {
    width: 26px;
    height: 26px;
    margin-right: 20px; }
  .course-single-page .section2 .card p {
    font: normal normal 500 18px/20x Poppins;
    color: #000000; }
  .course-single-page .section2 .card .price {
    font: normal normal 500 25px/26px Poppins;
    color: #000000; }
  @media (max-width: 576px) {
    .course-single-page .section2 .card {
      width: 320px; } }

.bg-light-blue {
  background-color: #E8F1F3; }

.review-section .info-text {
  font: normal normal 400 16px/25px Poppins;
  color: #000000; }
.review-section .border-top-dashed {
  border-top: 1px dashed #1BA7B6; }
.review-section .border-right-dashed {
  border-right: 1px dashed #1BA7B6; }
.review-section .text-gray {
  font: normal normal 300 16px/20px Poppins;
  color: #565656; }

.gray-text {
  font: normal normal 500 16px/25px Poppins;
  color: #7B7B7B; }

a.btn-link {
  font: normal normal 400 16px/25px Poppins;
  color: #8BB8C0; }

.course-content .far {
  color: #B4B2B1; }
.course-content .date {
  font-size: 14px;
  line-height: 21px;
  color: #202020; }

.video-section {
  background-image: url("../../img/CourseSinglePage/Group 1870.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 21%; }

.course-overView-page .course-overView-bg {
  background-image: url("../../img/courseOverview/Group 1856.png"); }

.course-tags ul li a {
  border: 1px solid #8BB8C0;
  border-radius: 27px;
  background-color: #ffffff;
  font: normal normal 400 14px/21px Poppins;
  color: #000000;
  padding: 5px 15px;
  margin: 5px;
  white-space: nowrap;
  display: block; }
.course-tags ul li.active a {
  background-color: #8BB8C0;
  color: #FFFFFF; }

.pagination .page-item .page-link {
  font: normal normal 500 18px/27px Poppins;
  color: #000000;
  border: 0;
  border-radius: 5px; }
  .pagination .page-item .page-link:hover {
    background-color: transparent;
    border: 0;
    outline: none; }
.pagination .page-item.active .page-link {
  background-color: #fbca9a; }

.register-for-teacher-page .section1 {
  background-image: url("../../img/registerForTeacher/Group 1861.png"); }
.register-for-teacher-page .how-it-works .card-item:hover {
  background-color: #fbca9a; }
  .register-for-teacher-page .how-it-works .card-item:hover .a {
    fill: #fbca9a; }

.why-proudies-section {
  background-color: #e8f1f3; }
  .why-proudies-section .title {
    font: normal normal 600 25px/38px Poppins;
    color: #000000; }
  .why-proudies-section .info-text {
    font: normal normal 500 18px/27px Poppins;
    color: #5D5D5D;
    max-width: 930px;
    width: 100%;
    padding: 0 10px; }
  .why-proudies-section .card {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 17px #E8F1F3;
    border-radius: 10px;
    padding: 40px 60px;
    width: 320px;
    height: max-content; }
    .why-proudies-section .card .sub-title {
      font: normal normal 500 18px/27px Poppins;
      color: #000000;
      border-bottom: 3px solid #8BB8C0; }

.order-card {
  font: normal normal 400 16px/25px Poppins;
  color: #2D2D2D; }
  .order-card .color-base {
    font: normal normal 600 18px/27px Poppins;
    color: #000000; }
  .order-card .color-yellow {
    font: normal normal 400 16px/25px Poppins;
    color: #FBCA9A; }
  .order-card .price,
  .order-card .total-price {
    font: normal normal 500 25px/38px Poppins;
    color: #000000; }
    @media (max-width: 768px) {
      .order-card .price,
      .order-card .total-price {
        font: normal normal 500 20px/38px Poppins;
        color: #000000;
        white-space: nowrap; } }

.orders-title {
  font: normal normal 500 16px/25px Poppins;
  color: #000000; }

.user-account-page .welcome-text {
  font: normal normal 500 45px/68px Poppins;
  color: #000000; }
.user-account-page .account-image {
  background-image: url("../../img/steve-johnson-xXPXAVu-Ufg-unsplash.png");
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8888; }
.user-account-page .name {
  font: normal normal 600 25px/25px Poppins;
  color: #1A1A18; }
.user-account-page ul li {
  font: normal normal 500 16px/25px Poppins;
  color: #1A1A18; }
.user-account-page .gray-btn {
  height: 45px;
  background: #DBDBDB 0 0 no-repeat padding-box;
  border-radius: 25px;
  font: normal normal 500 16px/25px Poppins;
  color: #282E3B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  cursor: pointer; }
.user-account-page .work-image {
  max-width: 382px;
  width: 100%;
  height: 290px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  box-shadow: 0 0 6px #00000029; }
  .user-account-page .work-image img {
    width: 100%; }
  .user-account-page .work-image .hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.41);
    display: none; }
  .user-account-page .work-image:hover .hover-effect {
    display: block; }
.user-account-page .blue-btn {
  min-width: 110px;
  background: #8BB8C0 0 0 no-repeat padding-box;
  border-radius: 5px;
  border: 1px solid transparent; }
  .user-account-page .blue-btn:hover {
    background-color: white;
    border: 1px solid #8BB8C0; }

.yellow-link {
  font: normal normal 400 16px/25px Poppins;
  color: #FF9E3E; }

.upload-banner-img {
  background-color: #8BB8C0;
  height: 377px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }

.checkout-section .border-blue {
  border: 1px solid #8BB8C0; }
.checkout-section .form-control {
  height: 51px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 6px #0000001C;
  border-radius: 5px;
  border: 0; }

.total-price {
  font: normal normal 600 25px/38px Poppins;
  color: #000000; }

.black-title {
  font: normal normal 600 25px/38px Poppins;
  color: #000000; }

.account-image {
  position: relative;
  overflow: hidden; }
  .account-image .account-image-edit {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer; }
  .account-image:hover .account-image-edit {
    display: flex;
    align-items: center;
    justify-content: center; }

.teacher-account-page .bg-cover {
  background: url("../../img/victoria-bilsborough-U-ouhtPgHH4-unsplash.png");
  background-size: cover;
  height: 400px;
  margin-bottom: -13%; }
.teacher-account-page .bg-white {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 10px;
  padding: 50px;
  max-width: 482px;
  width: 100%;
  min-height: 760px; }
.teacher-account-page .account-image {
  background-image: url("../../img/steve-johnson-xXPXAVu-Ufg-unsplash.png");
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8888; }
.teacher-account-page .about-me-text {
  font: normal normal 400 16px/21px Segoe UI;
  color: #000000; }
.teacher-account-page .nav-tabs .nav-link {
  background-color: #fff;
  border-color: transparent;
  font: normal normal 400 16px/20px Poppins;
  color: #000000 !important;
  padding-left: 40px;
  padding-right: 40px; }
.teacher-account-page .nav-tabs .nav-link.active {
  background-color: #8BB8C0;
  border-radius: 25px; }

.add-course_section .title {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #000000; }
  .add-course_section .title.border-bottom {
    border-bottom: 2px solid #FBCA9A !important; }
.add-course_section .form-control {
  min-height: 60px; }

@media screen and (min-width: 1200px) {
  .container-1640 {
    max-width: 1740px;
    padding: 0 50px; }

  .container-1520 {
    max-width: 1250px; } }

/*# sourceMappingURL=main.css.map */
